.topic-parent{
    height: 8vh;
    width: 100%;

    padding-top: 1vh;
    margin-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;


    cursor: pointer;

    display: grid;    

    transition: all .3s;

    border-radius: 2vh 0 0 2vh;
}

.topic-parent:hover{
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 2vh 0 0 2vh;
}

img{
    height: 8vh;
}

.default-icon{
    height: 8vh;
    width: 8vh;
    background-color: #0e151f;

    display: flex;
    align-items: center; 
    justify-content: center;
    
    color: rgba(255, 255, 255, 0.438);
    font-size: 3vh;

    border-radius: 2vh;
}

.separator{
    margin-top: 1vh;
    width: 100%;
    height: 0.5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.212);
}

.topic-name{
    color: white;
    text-decoration: none;

    margin-top: -7.5vh;
    font-size: 1.9vh;
}

.topic-name:hover{
    text-decoration: underline;
    cursor: pointer;
}

.topic-description{
    color: rgba(255, 255, 255, 0.507);

    margin-top: .1vh;
    text-align: left;
    width: 48.5vh;
    font-size: 1.8vh;

    user-select: none;
}

.div-topic-information{
    margin-left: 10vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Adaptation pour tel */
@media (max-width: 768px) {
    .topic-parent{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .topic-description{
        width: 27vh;
        height: 5vh;
        overflow-y: auto;
    }
}